<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">


<h1>All Events</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--<p th:unless="${events} and ${events.size()}">No events!</p>
 unless this boolean statement evaluates to true, display no events-->
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
           <th>Name</th>
            <th>Description</th>
            <th>Actions</th> <!--extra step after everything is complete for task 10-->
        </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}"></td>
        <td th:text="${event.name}"></td>
        <td th:text="${event.description}"></td>
        <td>
            <a th:href="@{/events/edit/{id}(id=${event.id})}">Edit</a>
        </td> <!-- task 10 -->
    </tr>
</table>

<!--for loop , th: block  is outer block,
    th:each specifies the set of things the loop will iterate over, this case a list of events
     then put a new li tag in font of the list of events to display each one-->
</body>
</html>